@import "./fonts";
@import "./mixins";
@import "./variables";

input {
  @include font-number;

  font-size: $font-size-large;
  max-width: $input-max-width;
  text-align: center;
  margin: auto;
  background: none;
  display: block;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=date] {
  font-size: $font-size-small;
  width: $input-date-width;
  margin: $input-date-margin;
}
