@import "./variables";
@import "./fonts";
@import "./mixins";

select, select:focus, select:focus-visible {
  @include font-text;

  font-size: $font-size-small;
  margin: $select-margin;
  max-width: $select-max-width;
  text-align: center;
  text-align-last: center;
  background: none;
  display: block;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
