// ----- Base ----- //
$color-primary: #75C9C8;
$color-secondary: #fdfdfd;

// ----- Floating Button ----- //
$floating-button--size: 50px;
$floating-button--position: 20px;
$floating-button--icon-size: 20px;
$floating-button--icon-position: 14px;
