<header class="color-scheme-primary">
  <section id="source">
    <div class="form-group">
      <input type="number"
             class="form-control color-scheme-primary"
             min="0"
             pattern="([0-9]{1,3}).([0-9]{1,3})"
             id="source-value"
             autocomplete="off"
             name="source-value"
             [(ngModel)]="source.value"
             (keydown)="format($event)"
             (keyup)="update(false)"
      >

      <select class="form-control select color-scheme-primary"
              id="source-currency"
              required
              [(ngModel)]="source.currency"
              (change)="update(true)"
      >
        <option *ngFor="let currency of (currencies | async)" [value]="currency.code">
          {{ currency.name }} ({{ currency.code }})
        </option>
      </select>
    </div>
    <input type="date"
           min="2000-01-01"
           max="{{ dateMax }}"
           [(ngModel)]="end"
           (change)="update(true)"
    >
  </section>
</header>
<div id="floating-button">
  <select class="form-control select"
          required
          (change)="addTarget($event)"
  >
    <option value="" disabled selected>+</option>
    <option *ngFor="let currency of (currencies | async)" [value]="currency.code">
      {{ currency.name }} ({{ currency.code }})
    </option>
  </select>
</div>
<main class="color-scheme-secondary">
  <div id="content">
    <section id="targets">
      <section class="target-row" *ngFor="let target of targets.items; let index = index;">
        <div class="form-group">
          <input type="number"
                 min="0"
                 pattern="([0-9]{1,3}).([0-9]{1,3})"
                 class="form-control"
                 id="{{ 'target-' + index}}"
                 autocomplete="off"
                 [(ngModel)]="target.value" name="source-value"
                 (keyup)="updateSourceValue(target)"
          >
          <select class="form-control select"
                  required
                  [(ngModel)]="target.currency"
                  (change)="update(true)"
          >
            <option *ngFor="let currency of (currencies | async)" [value]="currency.code">
              {{ currency.name }} ({{ currency.code }})
            </option>
          </select>
        </div>
        <section>
          <app-chart [data]="target"></app-chart>
        </section>
<!--        <fa-icon [icon]="faTrashAlt"></fa-icon>-->
      </section>
    </section>
  </div>
</main>
<footer>
</footer>
