@import "./styles/fonts";
@import "./styles/variables";
@import "./styles/base";
@import "./styles/mixins";
@import "./styles/select";
@import "./styles/input";

.app-header {
  box-shadow: $box-shadow;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 1;

  .app-header__section {
    padding: $main-padding;
    color: $color-secondary;

    .app-header__section-input {
      color: $color-secondary;
    }
  }
}

.app-main {
  padding-top: $header-height;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .app-main__content {
    width: $content-width;
    display: flex;
    flex-direction: column;

    .app-main__content-section {
      padding: $main-padding;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .app-main__content-section-row {
        padding: $row-padding;
        border-top: dotted 1px $color-primary;
        position: relative;

        &:first-child {
          border-top: none;
        }

        .app-main__content-section-row-info {
          margin: $info-margin;
          text-align: center;
        }

        .app-main__content-section-row-icon {
          position: absolute;
          bottom: 14px;
          left: calc(50% - 3px);

          .icon {
            cursor: pointer;
          }
        }
      }
    }
  }
}
