<app-error></app-error>
<header class="app-header color-scheme-primary">
  <section id="source" class="app-header__section">
    <input type="number"
           min="0"
           pattern="([0-9]{1,3}).([0-9]{1,3})"
           class="app-header__section-input form-control"
           id="source-value"
           name="source-value"
           autocomplete="off"
           [(ngModel)]="source.value"
           (keyup)="updateState(false)"
    >
    <div class="form-group">
      <select class="form-control select color-scheme-primary"
              id="source-currency"
              required
              [(ngModel)]="source.currency"
              (change)="updateState(true)"
      >
        <option *ngFor="let currency of (currencies | async)" [value]="currency.code">
          {{ currency.name }} ({{ currency.code }})
        </option>
      </select>
    </div>
    <app-date-picker [value]="end" (update)="updateEndDate($event)"></app-date-picker>
  </section>
</header>
<main class="app-main color-scheme-secondary" role="main">
  <div id="content" class="app-main__content">
    <section id="targets" class="app-main__content-section">
      <div class="app-main__content-section-row" *ngFor="let target of targets.items; let index = index;">
        <div class="form-group">
          <input type="number"
                 min="0"
                 pattern="([0-9]{1,3}).([0-9]{1,3})"
                 class="form-control"
                 id="{{ 'target-' + index }}"
                 name="{{ 'target-' + index }}"
                 autocomplete="off"
                 [(ngModel)]="target.value"
                 (keyup)="updateSourceValue(target)"
          >
          <select class="form-control select"
                  required
                  [(ngModel)]="target.currency"
                  (change)="updateState(true)"
          >
            <option *ngFor="let currency of (currencies | async)" [value]="currency.code">
              {{ currency.name }} ({{ currency.code }})
            </option>
          </select>
        </div>
        <div>
          <app-chart [data]="target"></app-chart>
        </div>
        <div class="app-main__content-section-row-info">
          1 {{ source.currency }} = {{ target.rates[target.rates.length - 1] }} {{ target.currency }}
        </div>
        <div class="app-main__content-section-row-icon" *ngIf="targets.items.length > 1">
          <fa-icon (click)="removeTarget(index)" class="icon" [icon]="faTrashAlt"></fa-icon>
        </div>
      </div>
    </section>
  </div>
</main>
<footer class="app-footer">
  <app-floating-button (update)="updateState(true)"></app-floating-button>
</footer>
